.search-container{
    padding: 10px 100px;
    background-color: aqua;
    max-width: 100%;
    height: 100%;
    display: flex;
}

.filters{
    background-color: bisque;
    width: 1000px;
}

.unit-results{
    background-color: gainsboro;
    width: 700px;
}

.search-container a{
    font-size: 1px;
}